@import "../../utils";
@import "../../vars";

.toolbox {
	width: 100%;

	.tool {
		padding: 5px;

		&.selected {
			background-color: mix($dark-green, $light-green);
		}
	}
	.icon {
		display: inline-block;
		height: 1rem;
		position: relative;
		top: 2px;

		img {
			max-height: 100%;
			margin-right: 5px;

			&[alt="🚩"] {
				margin-right: 3px;
			}
			@extend %no-select;
		}
	}
}
